:root {
  font-family: 'Poppins', sans-serif;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  cursor: pointer;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: black;
  text-decoration: none;
}

body {
  background-color: #e2f8f0;
}

.container {
  padding: 0 10px;
}

.bold {
  font-weight: bold;
}

header {
  background-image: -webkit-gradient(linear, left top, right top, from(#04025a), to(#057cdd));
  background-image: linear-gradient(to right, #04025a, #057cdd);
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #FFF;
}

.navbar img {
  width: 150px;
  height: 70px;
}

.navbar i {
  font-size: 1rem;
}

.navbar__links {
  display: none;
}

.content {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.content img {
  height: 375px;
}

.content p {
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1rem;
  font-style: 700;
}

.options__frame {
  background-image: -webkit-gradient(linear, left top, right top, from(#99fdaf), to(#3ef5d6));
  background-image: linear-gradient(to right, #99fdaf, #3ef5d6);
  border: 1px solid transparent;
  border-radius: 8px;
  text-align: center;
  padding: 30px 0;
  margin-top: 20px;
}

.google__map {
  margin-top: 20px;
}

.footer {
  margin-top: 50px;
  padding: 20px 10px;
  background: #3a08ec;
  color: #FFF;
}

.footer__adress {
  text-align: center;
}

.footer__adress-title {
  font-weight: bold;
  font-size: 18px;
  color: cadetblue;
}

.footer__adress-subtitle {
  margin-top: 15px;
  font-weight: 600;
  font-size: 16px;
}

.footer__adress-line {
  margin-top: 10px;
  font-size: 14px;
}

.footer__adress-tel {
  margin-top: 15px;
}

.footer__adress-email {
  margin-top: 15px;
}

.footer__products {
  display: none;
}

@media (min-width: 768px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 20px;
            column-gap: 20px;
    row-gap: 50px;
  }
  .options__frame {
    padding: 50px 0;
    margin-top: 0;
    width: 340px;
  }
}

@media (min-width: 1200px) {
  .container {
    padding-left: 0;
    padding-right: 0;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }
  .navbar__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar__links a {
    padding: 10px;
  }
  .content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content img {
    width: 500px;
    height: 450px;
  }
  .content p {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-size: 3rem;
    padding: 0;
    padding-left: 20px;
  }
  .content:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .content:nth-child(even) p {
    padding-right: 20px;
  }
  .options__frame {
    width: 235px;
  }
  .footer {
    padding: 40px 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer__adress {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .footer__adress-title {
    font-size: 24px;
  }
  .footer__adress-line {
    font-size: 16px;
  }
  .footer__products {
    display: block;
  }
  .footer__products h3 {
    font-size: 18px;
    font-weight: bold;
    color: cadetblue;
  }
  .footer__products ul {
    margin-top: 10px;
  }
  .footer__products ul li {
    margin-top: 15px;
  }
}
/*# sourceMappingURL=index.css.map */