<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap"
        rel="stylesheet">
        <link rel="stylesheet" href="../Css/about.css">
    <title>Tan Reklam | About</title>
</head>

<body>
    <header>
        <div class="navbar container">
            <nav>
                <img width="100%" src="../Assets/tanreklam.jpeg" alt="tanreklam">
            </nav>
            <div class="navbar__links">
                <a class="home" href="index.html">Home</a>   
            </div>
            <div>
                <i class="fa-solid fa-phone"> 0216 353 53 51</i>
            </div>
        </div>
    </header>
    <div class="content container">
        <h1>Mutoh</h1>
        <p class=".content__about">Hakkımızda;</p>
        <p>Tan Reklam A.Ş. 1996 yılından beri, ithalat ve dağıtımını üstlenmiş olduğu Mutoh marka kesicilerin,
            teknik servis hizmetlerini eksiksiz yerine getirmek için çalışmalarını sürdürmektedir.

            Hizmet Anlayışımız;Teknik servisimiz, Dünya standartlarında kabul görmüş, konusunda gerekli tüm teknik
            donanıma sahiptir.
            Ürünlerimizin tamirive bakımı için Teknik Uzmanlık gerektiren hizmetlerin tümü
            Mutoh tarafından eğitilen ve Mutoh onayı taşıyan Teknisyen sertifikası almaya hak kazanmış uzman
            teknisyenler
            tarafından yapılmaktadır. Teknisyenlerimiz, ürünlerde yapılan yenilikler ve yeni modeller için Mutoh Europe
            N.V.
            tarafından düzenlenen eğitim seminerlerine katılarak sertifikalarını yeniler vebilgilerini güncel tutarlar.
            Teknisyenlerimiz, hatasız işçilik yapmak için tüm ürün gruplarına gerekli dikkat ve özeni göstererek
            Türkiye'de Mutoh markasına olan güvenin
            sağlanmasına büyük katkıda bulunmuştur. Mutoh tarafından, teknik servis stoklarında bulundurulması önerilen
            önemli parçalar,
            önerilen adette daima stoklarımızda güncel olarak tutulur. Yedek parça stoğumuz sayesinde servisimize alınan
            ürünlerin tamir süresi,
            yasal tamir süresi limitlerini aşmaz. (kanun gereği sorumluluğumuz, ithalatını bizzat yaptığımız ürünler
            olduğu için,
            tan reklam'ın ithal ettiği seri numaralarını taşıyan cihazlar için yedek parça ve servis önceliği hakkı
            vardır.)
            Bu sayede kullanıcılarımız ürünlerinden maksimum faydayı sağlarlar. Tamir edilen,
            değiştirilen her parça için ayrı garanti uygulaması vardır.
            
        </p>
    </div>
    <footer class="footer">
        <div class="footer__adress">
            <h2 class="footer__adress-title">Tan Reklam</h2>
            <h3 class="footer__adress-subtitle">Adres Bilgilerimiz;</h3>
            <p class="footer__adress-line">
                Karlıktepe Mh. Cengiz Topel Cd. No:30/A
            </p>
            <p class="footer__adress-line">
                Kartal / İstanbul
            </p>
            <div class="footer__adress-tel">
                <span class="bold">Tel: </span> <a href="tel:+902163535351">+90 216 353 53 51</a>
            </div>
            <div class="footer__adress-email">
                <span class="bold">Email: </span> <a href="mailto:info@tankreklam.com">info@tankreklam.com</a>
            </div>
        </div>
    </footer>
</body>

</html>