// Large devices (desktops, 992px and up)
@media (min-width:1200px) {

    .container {
        padding-left: 0;
        padding-right: 0;
        width: 1100px;
        margin-left: auto;
        margin-right: auto;
    }

    .navbar {
        &__links {
            display: flex;

            a {
                padding: 10px;
            }
        }
    }

    .content {
        justify-content: space-between;
        flex-direction: row;
        align-items: center;

        img {
            width: 500px;
            height: 450px;
        }

        p {
            flex: 1;
            font-size: 3rem;
            padding: 0;
            padding-left: 20px;
        }


        &:nth-child(even) {
            flex-direction: row-reverse;

            p {
                padding-right: 20px;
            }
        }
    }

    .options {    
        &__frame {
            width: 235px;
        }
    }

    .footer {
        padding: 40px 50px;
        display: flex;
        justify-content: space-around;
    
        &__adress {
            width: max-content;
    
            &-title {
                font-size: 24px;
            }
    
            &-line {
                font-size: 16px;
            }
        }
    
        &__products {
            display: block;

            h3 {
                font-size: 18px;
                font-weight: bold;
                color: cadetblue;
            }

            ul{
                margin-top: 10px;

                li {
                    margin-top: 15px;
                }
            }
        }
    }
}


